<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>1ceddedc03a5d71</string>
	<key>clientSecret</key>
	<string>63775118a9f912fd91ed99574becf3b375d9eeca</string>
</dict>
</plist>
